.curriculo {
    border: none;
    border-radius: 0px;
    margin-top: 2%;
    margin-left: 0,5%;
    height: 50%;
    width: 25%;
}

.curriculo:hover {
    height: 100%;
    width: 100%;
}

@media (max-width: 1200px) {

    .curriculo {
        margin-left: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }

    

}